.boton-sobreMi::before {
    content: "Pasa por encima"
}

.boton-sobreMi:hover {
    background-color: green;
    color: white;
}
/* De esta forma se debe combinar psedo clase con pseudo elemento para cambiar el contenido del boton al pasar por encima */
.boton-sobreMi:hover::before {
    content: "¡Hecho!"
}
