.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px;
    margin: auto;
    background-color: #161717;
    color: white;
}
.buttons {
    display: flex;
    height: 40px;
    gap: 20px;
}
.btn-google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    padding: 2px;
}
.btn-google:hover {
    opacity: 0.75;
    cursor: pointer;
}
.btn-google img {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.btn-google span {
    color: white;
    padding: 15px;
}
.btn-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2daae1;
    border: blue;
    border-radius: 5px;
    padding: 2px;
}
.btn-twitter:hover {
    opacity: 0.75;
    cursor: pointer;
}
.btn-twitter img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.btn-twitter span {
    color: white;
    padding: 15px;
}
.separator {
    display: flex;
    /* flex-direction: row;  es por defecto no es necesario*/
    width: 75%;
    gap: 15px;
}
.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid silver;
}
/* form */
.nameAndUser {
    display: flex;
}
.nameAndUser label input {
    width: 77%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 88%;
}
label input {
    width: 100%;
    background-color: #f3f3f4;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.2s, border 0.2s;
}
label input:hover {
    background-color: white;
    border: 2px solid salmon;
    box-shadow: 0 0 5px brown;
}
label input:focus {
    background-color: white;
    border: 2px solid salmon;
    box-shadow: 0 0 5px brown;
}
.checkbox-label {
    display: flex;
    flex-direction: row;
}
.checkbox-label input[type='checkbox'] {
    width: 20px;
}
.btn-submit {
    background-color: #ea4c89;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;

}
.btn-submit:hover {
    opacity: 0.75;
}