h1{
    text-align: center;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gatitos{
    width: 300px;
    border: 5px lightpink dotted;
    border-radius: 30px;
    opacity: 0.8;
}
.gatitos:hover{
    opacity: 1;
    cursor: pointer;
}